@model IEnumerable<ShoeEcommerce.Model.Products.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Share/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nameCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link_imageCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.link_imageCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCategory">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idCategory">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idCategory">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
